<?xml version="1.0"?>

<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="simulation" default="1"/>
  <node name="joy" pkg="joy" type="joy_node" output="screen" >
    <param name="dev" value="$(arg joy_dev)" />
    <param name="autorepeat_rate" value="10" />
    <param name="coalesce_interval" value="0.01" />
  </node>

  <node name="teleop" pkg="ids_joy" type="ids_joy_node" output="screen">
    <param name="simulation" value="$(arg simulation)"/>
    <rosparam subst_value="true">
      angular_axis: 0
      linear_axis: 4
      stop_btn : 1
      up_btn: 3
      down_btn: 0
      left_btn: 4
      right_btn: 5
      linear_scale: 1.0
      angular_scale: 1.0
    </rosparam>
  </node>
</launch>
