<launch>
  <!-- <include file="$(find ids_control)/launch/path_planner.launch">
    <arg name="x" value="2.0"/>
    <arg name="y" value="1.0"/>
    <arg name="z" value="0.0"/>
    <arg name="map_file" value="$(find ids_task)/maps/office.yaml"/>
  </include> -->

  <node pkg="ids_task" type="plug_charge.py" name="auto_charge" output="screen"/>
</launch>
