<launch>
  <!--slam with gmapping laser-->
  <include file="$(find ids_control)/launch/gmapping_slam.launch"/>
  <!--amcl-->
  <include file="$(find ids_control)/launch/amcl_filter.launch"/>

  <node pkg="ids_task" type="build_map.py" name="map_build" output="screen"/>
  <!--start a map server to save the map once it is fully build
  rosrun map_server map_saver -f mymap
  -->
</launch>
