<launch>
  <!--slam with gmapping laser-->
  <include file="$(find ids_control)/launch/gmapping_slam.launch"/>
  <!--amcl-->
  <include file="$(find ids_control)/launch/amcl_filter.launch">
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="use_map" default="true"/>
    <arg name="first_map" default="false"/>
  </include>
  <!--start a map server-->
  <node pkg="ids_control" type="build_map.py" name="build_map" output="screen"/>
  <!--launch rviz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ids_gazebo)/rviz.rviz"/>
  <!--command: rosrun map_server map_saver -f /path/my_map />

</launch>
