<launch>
  <!--load joint controller configuration from yaml file to parameter server-->
  <rosparam file="$(find ids_control)/config/device_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/mrobot" args="joint_hook_controller joint_vslider_controller joint_hslider_controller joint_plug_controller joint_state_controller"/>

  <!--convert joint states to TF transform for rvis, etc-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/mrobot/joint_states"/>
  </node>

  <!--enable wheel's transform to map-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/mrobot/joint_states"/>
  </node>

</launch>
